* {
    padding: 5px;
    margin: 0px;
}

.banner {
    border: 2px solid black;
    display: flex;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    display: flex;
    justify-content: space-around ;
    border: 2px solid darkblue;
    height: 20vh;
}

.player-box, .cpu-box {
    border: 2px solid darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-box {
    border: 2px solid darkred;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.player-wins {
    border: 2px solid goldenrod;
}

.cpu-wins {
    border: 2px solid brown;
}


.footer {
    display: flex;
    border: 2px solid salmon;
}

.choice-container {
    display: flex;
    border: 2px solid salmon;
}

.rock, .scissor, .paper {
    display: flex;
    border: 2px solid salmon;
}


.animation-image {
    width: 20%;
    height: auto;
}

.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid fuchsia;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border: 2px solid green;
}



